<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="Conn" connectionString="Server=DESKTOP-JA29JCT\SQLEXPRESS;Uid=sa;Pwd=sasa;MultipleActiveResultSets=True;Timeout=2;Database=pruebademo;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>